.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.bak

.docker/
/data/

frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.env
frontend/.env.local
frontend/.env.*.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

backend/backend/__pycache__/
backend/backend/*.py[cod]
backend/backend/*$py.class
backend/backend/.env
backend/backend/venv/
backend/backend/env/
backend/backend/.venv/
backend/backend/pip-log.txt

backend/backend/db.sqlite3
backend/backend/db.sqlite3-journal
backend/backend/media/
backend/backend/static/
backend/backend/staticfiles/

*.log
backend/backend/logs/